/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/

.clr {clear: both;}
#new_post { display: none; }

#container {
/*	background: green;*/
	width: 960px;
	margin: 100px auto;	
}

#main_content {
/*	background: orange;*/
	width: 680px;
	float: left;
	padding: 0px 10px;
}

#sidebar {
/*	background: purple;*/
	width: 240px;
	height: 400px;
	float: right;
	padding: 94px 10px 10px 10px;
/*	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-ie-border-radius: 5px;
	border-radius: 5px;
	border: 1px;*/
}
#post_body {
	
/*	width: 960px;*/
	
}


.header {
	font-size: 36px;
	
}


.buttons {
	
	font-size: 14px;
	
}

.title {
	
	font-family: 'Shanti', sans-serif;
	font-size: 24px;
	
}

.paginate {
	
	text-align:center ;
	
}
